# PostgreSQL
POSTGRES_PASSWORD=change_me

# JWT - python3 -c "import secrets; print(secrets.token_hex(32))"
JWT_SECRET=change_me


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/callback
FRONTEND_ORIGIN=http://localhost:3000


# Discord
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:3000/api/auth/discord/callback

# Spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://localhost:3000/api/integrations/spotify/callback